.header-line {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;


    border-bottom: 1px solid #ECECEC;


    background-color: var(--bg-color);
}

.header-conteiner {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width:768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
        
    
}

.header-conteiner .logo {
    @media screen and (max-width:1199px){
        margin-right: 88px;
    }
    
    margin-right: 93px;


}

.navigation {
    display: none;

    @media screen and (min-width:768px) {
    display: inline;   
    }
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__item:not(:first-child) {
    margin-left: 50px;
}

.header-menu {
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: none;
    }
}


.navi {
    color: var(--headers-text-color);
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--Logo-bt-link);
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:active {
        color: var(--Logo-bt-link);
    }
}



.link.current {
    position: relative;
    display: block;
    color: var(--Logo-bt-link);


    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        width: 100%;

        background-color: var(--Logo-bt-link);
    }
}

.kontact-list {
    display: none;
    // display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.kontact-list__item {

}






.kont {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--Logo-bt-link);
        fill: var(--Logo-bt-link);
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media screen and (max-width:1199px){
        font-size: 12px;
    }
}

.kont>svg {
    margin-right: 10px;
}

