/*main*/
.main-main {
    margin-top: 80px;
}

/*hero===============================================*/

.section-hero {
    margin-top: 60px;
    padding: 118px 0;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg@2x.jpg');
    }

    @media screen and (min-width:768px) {
        margin-top: 80px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg-tablet.jpg');
        background-size: 768px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg-tablet@2x.jpg');
    }

    @media screen and (min-width:1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg-desktop.jpg');
        background-size: 1200px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../image/bg/bg-desktop@2x.jpg');
    }

}

.hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--bg-color);

    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}